OUR_FOOT(3)/result_colmap/
OUR_FOOT(3)/output/
OUR_FOOT(3)/dataset/

CUP_TEST(1)/cup_clean/
CUP_TEST(1)/cup_frames/
CUP_TEST(1)/cup_mask/
CUP_TEST(1)/runs/
CUP_TEST(1)/test/
CUP_TEST(1)/train/
CUP_TEST(1)/valid/
*.jpg*
*.png*
*.pt
*.yaml
*.zip
*.mp4
*.pth
*_jpg*
!*.py
!*.ipynb
!OUR_FOOT(3)/in_windows/*.py
!OUR_FOOT(3)/in_windows/*.ipynb

venv/
__pycache__/
*.py[cod]

venv/
env/
ai_env/
.venv/

.vscode/

.ipynb_checkpoints/

.DS_Store
Thumbs.db

data/
dataset/
*.pt
*.pth
*.h5
*.onnx
*.pyc

.env
secrets.json

images/
masks/

database.db
database.db-journal
sparse/
dense/